{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Ciencias de datos II</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12 mt-4"">
        <h2>Top zonas con más ventas</h2>
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-mwgmw/embed/charts?id=8500fbfa-5513-49ae-a236-5e4097dbdcbd&theme=light"></iframe>
    </div>
    <div class="col-lg-6 col-sm-12 mt-4"">
        <h2>Ventas de cada categoría</h2>
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-mwgmw/embed/charts?id=43ad8943-b426-48cd-b1d6-ceb0195ded88&theme=light"></iframe>
    </div>
    <div class="col-lg-12 mt-4">
        <h2>Ventas de cada categoría</h2>
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1280" height="480" src="https://charts.mongodb.com/charts-project-0-mwgmw/embed/charts?id=ddc2186b-63c3-45b9-a247-10ef0c161553&theme=light"></iframe>
    </div>
</div>



{% endblock content %}
