{% extends "base.html" %}
{% block content %}

<div class="row" style="margin-top:20px">
    <div class="col-lg-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action consulta" data-consulta="0" data-page="0" aria-current="true">Listado de clientes</a>
            <a href="#" class="list-group-item list-group-item-action consulta" data-consulta="1" data-page="0">N&uacute;mero de compras por categoria</a>
            <a href="#" class="list-group-item list-group-item-action consulta" data-consulta="2" data-page="0">Listado de productos cliente/categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta_filter" data-consulta="3" data-page="0">Listado de productos dada una categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta_filter" data-consulta="4" data-page="0" aria-disabled="true">Listado de productos dada un departamento</a>
            <a href="#" class="list-group-item list-group-item-action consulta_filter" data-consulta="5" data-page="0">Productos más vendidos por categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta_filter" data-consulta="6" data-page="0">Productos más vendidos por departamento</a>
            <a href="#" class="list-group-item list-group-item-action consulta" data-consulta="7" data-page="0">Productos más caros por categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta" data-consulta="8" data-page="0">Productos más caros por departamento</a>
            <a href="#" class="list-group-item list-group-item-action consulta_filter" data-consulta="9" data-page="0">Productos más vendidos por fechas</a>
            <a href="#" class="list-group-item list-group-item-action consulta_filter" data-consulta="10" data-page="0">Listado de productos que ha comprado un cliente a partir de una fecha</a>
            <a href="#" class="list-group-item list-group-item-action consulta" data-consulta="11" data-page="0">Total de ventas por cada zona geográfica</a>
            <a href="#" class="list-group-item list-group-item-action consulta" data-consulta="12" data-page="0">Top 3 zonas con más compras</a>
          </div>
    </div>

    <div class="col-lg-9" id="contenido_consulta">
        <h2>Selecciona una consulta</h2>
    </div>

</div>
<br/>
<br/>
<br/>

{% endblock content %}

{% block javascript%}

{% endblock javascript%}

