{% extends "base.html" %}
{% block content %}

<div class="row" style="margin-top:20px">
    <div class="col-lg-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action consulta_uno" data-page="0" aria-current="true">Listado de clientes</a>
            <a href="#" class="list-group-item list-group-item-action consulta_dos" data-page="0">N&uacute;mero de compras por categoria</a>
            <a href="#" class="list-group-item list-group-item-action consulta_tres" data-page="0">Listado de productos cliente/categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta_cuatro" data-page="0">Listado de productos dada una categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta_cinco" data-page="0" aria-disabled="true">Listado de productos dada un Departamento</a>
            <a href="#" class="list-group-item list-group-item-action consulta_seis" data-page="0">Productos más vendidos por categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta_siete" data-page="0">Productos más vendidos por Departamento</a>
            <a href="#" class="list-group-item list-group-item-action consulta_ocho" data-page="0">Productos más caros por categoría</a>
            <a href="#" class="list-group-item list-group-item-action consulta_nueve" data-page="0">Productos más caros por Departamento</a>
            <a href="#" class="list-group-item list-group-item-action consulta_diez" data-page="0">Productos más vendidos por fechas</a>
            <a href="#" class="list-group-item list-group-item-action consulta_once" data-page="0">Listado de items que ha comprado un cliente por fecha</a>
            <a href="#" class="list-group-item list-group-item-action consulta_doce" data-page="0">Total de ventas por cada zona geográfica</a>
            <a href="#" class="list-group-item list-group-item-action consulta_trece" data-page="0">Zona geográfica con más compras</a>
          </div>
    </div>

    <div class="col-lg-9" id="contenido_consulta">
        contenido
    </div>

</div>
<br/>
<br/>
<br/>

{% endblock content %}

{% block javascript%}

{% endblock javascript%}

