{% extends "base.html" %}
{% block content %}

<div class="row">
	    <div class="offset-lg-3 col-md-6 text-center">
        <h4 class="w-100 font-weight-bold">Lista de registros</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha Subida</th>
              <th scope="col">Acci&oacute;n</th>
            </tr>
          </thead>
          <tbody>
          {% for value in datos %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{value}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

	    </div>
</div>
<br/>
<br/>
<br/>

{% endblock content %}

{% block javascript%}

{% endblock javascript%}