{% extends "base.html" %}
{% block content %}

<i style="font-size: small;">El siguiente correo sería enviado a la persona seleccionado recomendando productos de la misma categoría del producto elegido.</i>
<div class="card" style="margin-top: 40px;margin-left: 40px;">

  <h4>¡Hola <strong>{{cliente[0]['Customer_Name']}}</strong>!</h4>
  <p>Vemos que has comprado recientemente el producto <strong>{{producto_pasado}}</strong>, 
    estamos seguros de que estos productos le podrían interesar:
  </p>
  <ul style="margin-left: 40px;" >
  {% for i in range(5) %}
    <li>{{datos[i]}}</li>
  {% endfor %}
  </ul>
  <p>Gracias por la confianza depositada en nosotros, ¡un saludo!</p>
</div>
<br/>
<br/>
<br/>

{% endblock content %}

{% block javascript%}

{% endblock javascript%}